<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produtos do Comerciante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <main class="page-container">

        <a href="/comerciante" class="btn-voltar">← Voltar</a>

        <section class="perfil-header">
            <h1>Produtos disponíveis</h1>
            <p>Produtos cadastrados para resgate no programa de pontos.</p>
        </section>

        <section class="produtos-comerciante-grid">
            {% for produto in produtos %}
                <div class="produto-comerciante-card">
                    <div class="produto-comerciante-icone">🎁</div>

                    <h3>{{ produto[1] }}</h3>
                    <p>{{ produto[2] }}</p>

                    <div class="produto-comerciante-pontos">
                        <span>Valor para resgate</span>
                        <strong>{{ produto[3] }} pontos</strong>
                    </div>
                </div>
            {% endfor %}
        </section>

    </main>

</body>
</html>