<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Histórico de Resgates</h1>

    <div class="grid">
        {% for item in historico %}
        <div class="card">
            <div>
                <h2>{{ item[0] }}</h2>
                <p>{{ item[2] }}</p>
            </div>
            <div class="pontos-usados">-{{ item[1] }} pts</div>
        </div>
        {% else %}
        <p style="color:#6b7280;margin-top:20px;">Nenhum resgate ainda.</p>
        {% endfor %}
    </div>
</div>

<div class="navbar">
    <a href="/dashboard">🏠<span>Casa</span></a>
    <a href="/catalogo">🎁<span>Catálogo</span></a>
    <a class="active" href="/perfil">👤<span>Perfil</span></a>
</div>

</body>
</html>