<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-container">

    <div class="logo-circle">
        🏪
    </div>

    <h1>Vizinhaça Digital</h1>

    <p class="subtitle">
        Fidelização para o comércio local
    </p>

    <div class="tipo-usuario">

        <button class="tipo ativo">
            👤 Cliente
        </button>

        <button class="tipo">
            🏪 Comerciante
        </button>

    </div>

    <form method="POST">

        <label>Email</label>

        <input
            type="email"
            name="email"
            placeholder="seu@email.com"
            required
        >

       <label>Senha</label>

<div class="senha-box">

    <input
        type="password"
        name="senha"
        id="senha"
        placeholder="••••••••"
        required
    >

</div>

     <button class="btn-login">
    Entrar
</button>

{% if mensagem %}
    <p class="mensagem-erro">{{ mensagem }}</p>
{% endif %}
    </form>

    <p class="cadastro-link">
        Não tem conta?
        <a href="/cadastro">Cadastre-se</a>
    </p>

</div>

<script>
function mostrarSenha() {

    let campo = document.getElementById("senha");

    if (campo.type === "password") {
        campo.type = "text";
    } else {
        campo.type = "password";
    }

}
</script>

</body>
</html>