<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Parceiros</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

<a href="/dashboard" class="btn-voltar">
    ← Voltar
</a>

<h1>Parceiros</h1>

    <h1>Parceiros</h1>

    <div class="acoes-grid">

        {% for parceiro in parceiros %}

        <div class="acao-card">

            <span>{{ parceiro.icone }}</span>

            <h2>{{ parceiro.nome }}</h2>

            <p>{{ parceiro.beneficio }}</p>

        </div>

        {% endfor %}

    </div>

</div>

<div class="navbar">
    <a class="active" href="/dashboard">🏠 <span>Casa</span></a>
    <a href="/catalogo">🎁 <span>Catálogo</span></a>
    <a href="/perfil">👤 <span>Perfil</span></a>
</div>

</body>
</html>