<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercados Parceiros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <main class="page-container">

        <a href="{% if session.get('tipo') == 'comerciante' %}/comerciante{% else %}/dashboard{% endif %}" class="btn-voltar">
            ← Voltar
        </a>

        <section class="perfil-header">
            <h1>Mercados Parceiros</h1>
            <p>Conheça os comércios locais participantes do Vizinhança Digital.</p>
        </section>

        <section class="parceiros-grid">

            {% for parceiro in parceiros %}
            <div class="parceiro-card">
                <div class="parceiro-icone">
                    {{ parceiro.icone }}
                </div>

                <div class="parceiro-conteudo">
                   <h3>{{ parceiro.nome }}</h3>
                   <p><strong>{{ parceiro.tipo }}</strong></p>
                   <p>{{ parceiro.beneficio }}</p>
                   <p class="parceiro-endereco">📍 {{ parceiro.endereco }}</p>

                    <span class="parceiro-status">
                        Parceiro ativo
                    </span>
                </div>
            </div>
            {% endfor %}

        </section>

        <section class="beneficio-destaque">
            <div>
                <h2>Comércio local mais forte</h2>
                <p>
                    A plataforma aproxima clientes dos mercados de bairro,
                    incentiva compras recorrentes e fortalece pequenos comerciantes.
                </p>
            </div>

            <a href="/beneficios" class="btn-principal">Ver benefícios</a>
        </section>

    </main>

    <nav class="bottom-nav">
        <a href="{% if session.get('tipo') == 'comerciante' %}/comerciante{% else %}/dashboard{% endif %}">
            <span>🏠</span>
            Casa
        </a>

        <a href="/beneficios">
            <span>🎁</span>
            Benefícios
        </a>

        <a href="/parceiros" class="active">
            <span>🏪</span>
            Parceiros
        </a>

        <a href="/perfil">
            <span>👤</span>
            Perfil
        </a>
    </nav>

</body>
</html>